/* About Section */
.about {
    padding: 41px 0;
}

.about__content {
    display: flex;
    gap: 375px;
    align-items: flex-start;
}


.section-title {
    font-size: 56px;
    line-height: 1.1;
    letter-spacing: -1.68px;
    font-weight: 400;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.advantage {
    display: flex;
    align-items: center;
    gap: 16px;
}

.contacts__icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.advantage p {
    font-size: 16px;
    line-height: 1.1;
    letter-spacing: -0.48px;
    max-width: 200px;
}

.about__description {
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: -0.4px;
    max-width: 640px;
}
