/* Footer */
.footer {
    padding: 41px 0;
    border-top: 1px solid #020818;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo {
    display: flex;
    align-items: center;
    gap: 14px;
}

.footer__copyright {
    font-size: 14.5px;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: -0.27px;
    color: #020818;
}

.footer__menu {
    display: flex;
    gap: 64px;
}

.footer__menu .footer__link {
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: -0.4px;
    color: #0a0a0a;
    text-decoration: none;
}

.footer__menu .footer__link:hover {
    opacity: 0.7;
}
