/* Partners Section */
.partners {
    padding: 130px 0;
}

.section__line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
}

.line-1 {
    height: 1px;
    background: black;
    flex: 1;
    margin-left: 48px;
}

.line-2 {
    height: 1px;
    background: black;
    flex: 1;
    
}

.partners__list {
    display: flex;
    gap: 20px;
    margin-bottom: 48px;
}

.partners__card {
    width: 317px;
    background: #020818;
    border-radius: 10px;
    height: 189px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 45px 34px;
}

.partners__logo {
    background: white;
    border-radius: 5px;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
